
<nav class="flex-row-non-expand">
  <ul class="pager">
    <li class="previous"><a href="{{ getURLforDay(-1) }}"><span aria-hidden="true">←</span> Previous</a></li>
    <li class="next"><a href="{{ getURLforDay(1) }}">Next <span aria-hidden="true">→</span></a></li>
    <div role="group" class="btn-group">
      <button type="button" class="btn btn-default">{{getHumanReadableDate()}}</button>
    </div>
  </ul>
</nav>
<newpersondialog possible-names="possibleNames" modal-show="showNewPersonDialog" add-person="addPerson"></newpersondialog>
<div class="flex-row-expand">
  <div class="day-container">
    <day-table people="people" hours="hours"></day-table>
  </div>
</div>
<!---->
<!-- we include all the neccessary templates right here!-->
<!---->
<script type="text/ng-template" id="day-table.tmpl.html">
  <div ng-show="showHover" class="new-hourspan-hover"><span class="glyphicon glyphicon-plus"></span> Time Span</div>
  <table class="table table-fixed">
    <thead>
      <tr>
        <th class="col-hour"></th>
        <th ng-repeat="(name, person) in people" x-name="{{person.name}}">{{person.name}}
          <hourspan span="span" ng-repeat="span in person.times" person="person"></hourspan></th>
        <th class="col-new">
          <button ng-click="addPerson()" class="btn btn-primary">New <span aria-hidden="true" class="glyphicon glyphicon-plus"></span></button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="hour in hours" on-last-repeat="on-last-repeat" class="{{hour.thisday}}">
        <td x-hour="{{hour.time}}" class="col-hour hour">{{hour.hour}}</td>
        <td ng-repeat="person in people" x-hour="{{hour.time}}" x-name="{{person.name}}" class="hour hoverable"></td>
        <td class="col-new hour"></td>
      </tr>
    </tbody>
  </table>
</script>
<script type="text/ng-template" id="hourspan.tmpl.html">
  <div class="hourspan-container">
    <div class="hourspan alert alert-success">
      <button ng-click="remove()" class="btn btn-default remove-button"><span class="glyphicon glyphicon-trash"></span></button>
      <div class="drag-handle top">
        <div class="drag-handle-container"><span class="icon-bar"></span><span class="icon-bar"></span></div>
      </div>
      <div class="middle">{{span.end-span.start}} Hours</div>
      <div class="drag-handle bottom">
        <div class="drag-handle-container"><span class="icon-bar"></span><span class="icon-bar"></span></div>
      </div>
    </div>
  </div>
</script>
<script type="text/ng-template" id="newpersondialog.tmpl.html">
  <div role="dialog" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" ng-click="hide()" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add a New Person</h4>
        </div>
        <div class="modal-body">
          <h4>Recent</h4>
          <button type="button" ng-repeat="name in possibleNames | limitTo:5:0" ng-click="clickedName(name)" class="btn btn-primary">{{name}}</button>
          <h4>Add</h4>
          <input/>
        </div>
        <div class="modal-footer">
          <button type="button" ng-click="hide()" class="btn btn-default">Close</button>
          <button type="button" ng-click="addPersonClick(newNames)" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>
</script>