
<!-- template for an adjustable hour widget.  It has a starting hour and an ending hour-->
<!-- that can be adjusted up and down.-->
<!-- build up the column-->
<div class="name"><span class="name-text">{{person.name}}</span><span class="total-hours"> ({{totalHours}})</span></div>
<div ng-repeat="hour in hours" hour="{{hour.time}}" ng-click="newTime(hour.time)" class="hours {{ hour.thisday }}"></div>
<!-- populate the column with each instance of a timespan-->
<div ng-repeat="timespan in person.times">
  <adjustable-hour-widget start-hour="timespan.start" end-hour="timespan.end" offsets="offsets"></adjustable-hour-widget>
</div>