// template for an adjustable hour widget.  It has a starting hour and an ending hour
// that can be adjusted up and down.

div(class="person-day-info-container")="{{person.name}} ({{totalHours}} hours total)"
    div(ng-repeat="timespan in person.times")
        adjustable-hour-widget(start-hour="timespan.start" end-hour="timespan.end")
        button(ng-click="removeTimespan($index)")="Remove"
    button(ng-click="newTimespan()")="New"
