//
//	Sylus file to be compiled to CSS with
//
//	`stylus frame.styl -u nib`
//
//      To watch a file for changes
//	`stylus -w frame.styl -u nib`
//
//	Install stylus with `npm install stylus -g`
//	Install nib with    `npm install nib -g` (for css3 comaptability extensions)
//

@import 'nib'

// some color variables
fallbackBackground = #7e1769
headerGlow = #28d9f8
headerBackground = #1a468c
headerFonts = "BebasNeue", sans-serif


html
	width: 100%
	height: 100%
body
	margin: 0px
	padding: 0px
	background: fallbackBackground
	// rainbow gradient
	width: 100%
	height: 100%
	display: flex
	flex-direction: column 		// for older firefox
	flex-wrap: nowrap
	color: white
	font-family: sans-serif

#header
	background: gray
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	align-items: baseline

	.middle
		flex-grow: 1
		text-align: center
#content
	flex-grow: 1
	background: white
	color: black
	overflow: auto
#footer
	background: gray
	.middle
		flex-grow: 1
		text-align: center
