extends frame

block extraCSS
    link(rel='stylesheet', href='css/calendar.css')

block controller
    script(src='js/jquery-2.1.3.min.js')
    script(src='js/angular.min.js')
    script(src='js/calendarController.js')

block content
    - var i = 1;
    - var j = 0;
    div(class='container', ng-controller='Calendar') 
        h1(id="month")= "{{ month }}"
        table(class='calendar-view') 
            each thing in ['week1', 'week2', 'week3', 'week4', 'week5']
                tr(id=thing)
                    while (i) % 7 != 0
                        td(class = 'day')= i++
                    td(class='day')= i++
