extends frame  

block extraCSS
    link(rel='stylesheet', href='css/calendar.css')

block controller
    script(src='js/jquery-2.1.3.min.js')
    script(src='js/angular.js')
    script(src='js/calendarController.js')

block content
    div(class='container', ng-controller='Calendar')
        input(type="number", ng-model="monthNum")
        h1(id="month")= "{{ month() }} {{ monthNum }} "
        table(class='calendar-view', month-view, year-num="yearNum", month-num="monthNum" )
            tr( id='week{{$index + 1}}', ng-repeat='week in displayDays' )
                td(class='day', ng-repeat='day in week'){{day}}
