div(class='container', ng-controller='Calendar')
    div(id="month")
        h1(class="prev-month", ng-click="incMonth(-1)")= "<"
        h1(class="next-month", ng-click="incMonth(1)")= ">" 
        h1(class="month-name")= "{{ monthName() }}"
    table(class='calendar-view', year-num="yearNum", month-num="monthNum" )
        tr( id='week{{$index + 1}}', ng-repeat='week in displayDays' )
            td(class='day', ng-repeat='day in week', ng-click="showDay(day.jsDate)")
                div()
                    calendar-day-widget(day="day")
