extends frame

block extraCSS
	link(rel="stylesheet", href="css/dayview.css")

block controller
	script(src='js/jquery-2.1.3.min.js')
	script(src='js/angular.js')
	script(src='js/interact-1.2.3.js')
	script(src='js/dayviewController.js')


block content
	div(id="container", ng-controller="TimeViewController")
		div(class="hourScrollerHeader")
			div(class="column hours")
			div(class="column name" ng-repeat="name in names")= "{{name}}"
			//div(class="column name")
			//	| Andrei (6)
			//div(class="column name")
			//	| Jonah (4)

		div(class="hourScroller")
			div(class="column hours")
				div(class="time {{hour.thisday}}" ng-repeat="hour in hours")= "{{hour.hour}}"
			
			div(class="column hoursGrid" ng-repeat="(k, person) in people")
				div(class="time {{hour.thisday}}" ng-repeat="hour in hours")
				div(class="hourSpan {{timeRangeToClassName(time)}}" ng-repeat="time in person.times" adjustable-range="time")= "{{time.end-time.start}} hours"
					div(class="top-handle")= '^^^'
					div(class="bottom-handle")= '---'
			//div(class="column hoursGrid")
			//	div(class="hourSpan")= "6 hours"
			//	div(class="time {{hour.thisday}}" ng-repeat="hour in hours")
			//div(class="column hoursGrid")
			//	div(class="time {{hour.thisday}}" ng-repeat="hour in hours")
