div(id="container", ng-controller="TimeViewController")
    | hi there
    //adjustable-hour-widget(start-hour="booger.start", end-hour="12")
    //person-day-info-widget(person="pp")

    div(ng-repeat="(k, person) in people")
        person-day-info-widget(person="person")

    div(class="hourScrollerHeader")
        div(class="column hours")
        div(class="column name", ng-repeat="(k, person) in people")= "{{formatName(person)}}"

    div(class="hourScroller")
        div(class="column hours")
            div(class="time {{hour.thisday}}", ng-repeat="hour in hours")= "{{hour.hour}}"
        
        div(class="column hoursGrid", ng-repeat="(k, person) in people" person-key="{{k}}")
            div(class="time {{hour.thisday}}", ng-repeat="hour in hours")
            div(class="hourSpan {{timeRangeToClassName(time)}}", ng-repeat="time in person.times", adjustable-range="time")= "{{time.end-time.start}} hours"
                div(class="top-handle")= '^^^'
                div(class="bottom-handle")= '---'
