
<div id="container" ng-controller="TimeViewController">
  <div class="hourScrollerHeader">
    <div class="column hours"></div>
    <div ng-repeat="(k, person) in people" class="column name">{{formatName(person)}}</div>
  </div>
  <div class="hourScroller">
    <div class="column hours">
      <div ng-repeat="hour in hours" class="time {{hour.thisday}}">{{hour.hour}}</div>
    </div>
    <div ng-repeat="(k, person) in people" person-key="{{k}}" class="column hoursGrid">
      <div ng-repeat="hour in hours" class="time {{hour.thisday}}"></div>
      <div ng-repeat="time in person.times" adjustable-range="time" class="hourSpan {{timeRangeToClassName(time)}}">{{time.end-time.start}} hours
        <div class="top-handle">^^^</div>
        <div class="bottom-handle">---</div></div>
    </div>
  </div>
</div>