div(id="container", ng-controller="TimeViewController")
    button(ng-click="newPerson()")="New Person"
    new-person-dialog(ng-show="showNewPersonDialog", possible-names="possibleNames", add-person="addPerson")
    
    div(class="dayview-hours")
        div(class="column hours")
            div(class="hours {{hour.thisday}}", ng-repeat="hour in hours")= "{{hour.hour}}"
        
        div(class="column hours-grid", ng-repeat="(k, person) in people")
            person-day-info-widget(person="person", hours="hours")
