doctype html
html(lang="en", ng-app='App')
    head
        meta(charset="UTF-8", name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

        title='Time Tracker'

        // local content
        link(href="css/frame.css" rel="stylesheet")
        block extraCSS

        // cdn content
        link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")

        // Needed Boilerplate for all templates
        script(src='js/jquery-2.1.3.min.js')
        script(src='js/angular.js')
        script(src='js/angular-route.js')
        script(src='js/interact-1.2.3.js')

        block controller

    body(ng-controller="MainController")
        div(id="header")
            div(class="left")
            div(class="middle")
                | Time Tracker
            div(class="right")
                button(id="calendar", ng-click="showCalendar()")="Calendar"
                button(id="day", ng-click="showDay()")="Day"
                button(id="about")="About"
        div(id="content")
            block content
        div(id="footer")
            div(class="left")
            div(class="middle")
                | footer
            div(class="right")
