doctype html
html(lang="en")
	head
		title='Time Tracker'
		
		link(href="css/frame.css" rel="stylesheet")
	body
		div(id="header")
			| header
		div(id="content")
			block content
		div(id="footer")
			| footer
