extends frame

block extraCSS
    link(rel="stylesheet", href="css/dayview.css")
    link(rel='stylesheet', href='css/calendar.css')

block controller
    script(src='js/mainController.js')
    script(src='js/calendarController.js')
    script(src='js/dayviewController.js')

block content
    div(class="view-container")="You've requested the '{{abc}}' page."
        div(class="view-frame", ng-view)="view"
