extends frame

block extraCSS
    link(rel="stylesheet", href="css/dayview.css")
    link(rel="stylesheet", href="css/hourspan.css")
    link(rel='stylesheet', href='css/calendar.css')
    link(rel='stylesheet', href='css/selectize.default.css')

block controller
    script(src='js/selectize.js')
    script(src='js/mainController.js')
    script(src='js/calendarController.js')
    script(src='js/dayviewController.js')

block content
    div(class="view-container")
        div(class="view-frame", ng-view)="view"
