html {
  height: 100%;
}
body {
  padding-top: 50px;
  height: 100%;
}
.nav-year,
.nav-month,
.nav-day {
  font-size: smaller;
}
.nav-month a {
  padding-right: 5px !important;
  padding-left: 5px !important;
}
.nav-year a {
  padding-right: 5px !important;
}
.nav-day a {
  padding-left: 5px !important;
}
.nav-month:before,
.nav-day:before {
  content: '/';
  float: left;
  position: relative;
  padding-top: 18px;
}
.pager .dropdown-menu li a {
  display: block;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: none;
}
.main-container {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-row-non-expand {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.flex-row-expand {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.calendar-container {
  width: 100%;
  height: 100%;
  background: #800080;
}
.day-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.day-container .not-today {
  background: #cbcbcb;
  color: #878787;
}
.day-container .col-hour {
  width: 2em;
  text-align: right;
}
.day-container .col-new {
  width: 3em;
  text-align: right;
}
.day-container .table {
  position: relative;
}
.day-container th {
  position: relative;
}
.day-container .hourspan-container.compact .drag-handle.top {
  padding: 0px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 0px;
  -ms-flex: 1 1 0px;
  flex: 1 1 0px;
}
.day-container .hourspan-container.compact .drag-handle.bottom {
  padding: 0px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 0px;
  -ms-flex: 1 1 0px;
  flex: 1 1 0px;
}
.day-container .hourspan-container.compact .middle {
  display: none;
}
.day-container .hourspan-container.compact .remove-button {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 100%;
}
.day-container .hourspan-container {
  position: absolute;
  width: 100%;
  left: 0px;
  height: 9em;
  padding-left: 4px;
  padding-right: 4px;
  z-index: 5;
}
.day-container .hourspan.alert {
  padding: 0px;
}
.day-container .hourspan {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  position: relative;
}
.day-container .hourspan .remove-button:hover {
  color: #000;
  background-color: rgba(205,205,205,0.67);
}
.day-container .hourspan .remove-button {
  position: absolute;
  right: 0px;
  top: 0px;
  color: unset;
  background-color: unset;
  border: unset;
}
.day-container .hourspan .middle {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 0px;
  -ms-flex: 1 1 0px;
  flex: 1 1 0px;
  overflow: hidden;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 3px;
  padding-right: 3px;
}
.day-container .hour[x-name].hoverable:hover {
  background-color: #337ab7;
}
.day-container .new-hourspan-hover {
  color: #fff;
  padding-left: 3px;
  cursor: default;
  position: absolute;
  z-index: 0;
}
.alert .icon-bar {
  -webkit-border-radius: 0.5px;
  border-radius: 0.5px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #3c763d;
  margin-bottom: 1px;
}
.alert .drag-handle:hover .icon-bar {
  background-color: #79b07a;
}
.alert .drag-handle {
  width: 100%;
}
.alert .drag-handle.top {
  padding-top: 1px;
  padding-bottom: 10px;
  cursor: n-resize;
}
.alert .drag-handle.top .drag-handle-container {
  width: 100%;
  position: absolute;
  top: 0;
}
.alert .drag-handle.bottom {
  padding-bottom: 1px;
  padding-top: 10px;
  cursor: s-resize;
}
.alert .drag-handle.bottom .drag-handle-container {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.alert .drag-handle-container {
  height: 4px;
}
.table {
  table-layout: fixed;
}
.table {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
